@{
    ViewBag.Title = "CarRotatorFixed";
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->


    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Images/CarRotator/01.jpg" />
        </div>
        <div class="item">
            <img src="~/Images/CarRotator/02.jpg" />
        </div>
        <div class="item">
            <img src="~/Images/CarRotator/03.jpg" />
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //$('#carousel-example-generic').carousel();

    });


</script>