@{
    ViewBag.Title = "Home Page";
}


<div style="display:inline-block;width:100%;min-height:500px;vertical-align:top;">
    <div style="min-width:300px;width:30%; display:inline-block;vertical-align:top;padding:0 0 0 10px;">
        @Html.Action("SearchComponent", "Search", new { area = "Advertising" })


    </div>
    <div style="min-width:300px;width:65%; display:inline-block;vertical-align:top;">
         @Html.Action("CarRotator", "Search", new { area = "Advertising" })
    </div>

    <div style="min-width:300px;width:100%; display:inline-block;vertical-align:top;">
         @Html.Action("ListCars", "Car", new { area = "Ads" })
    </div>
</div>


