@{
    ViewBag.Title = "خانه";
}

<div class="HomePage">
 

    <div class="HomePageCotnainer">
        <div id="topCotnainer" style="position:relative;display:inline-block;min-height:800px;width:100%;">
            <div class="SearchComponentCotainer">
                @Html.Action("SearchComponent", "Search", new { area = "Search" })
            </div>
            <div class="CarRotatorContainer">
                @*@Html.Action("CarRotator", "CarShow", new { area = "Ads" })*@
                @Html.Action("CarRotatorFixed", "CarShow", new { area = "Ads" })
            </div>
        </div>
        <div class="BottomPageCarListContainer">
            @Html.Action("BottomPageCarList", "CarShow", new { area = "Ads" })
        </div>
    </div> 
</div>