@using GridMvc.Html
@model IEnumerable<DataLayer.Model>

@{
    ViewBag.Title = "کمپانی خودرو سازی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<p>
    <a href="../Create">
        <span class="glyphicon glyphicon-plus"></span><span class="createNew">کمپانی خودرو سازی جدید</span>
    </a>
</p>

@Html.Grid(Model).Columns(columns =>
           {
               columns.Add(foo => foo.Name).Titled("کمپانی خودرو سازی").Sortable(true);
               columns.Add(foo => foo.SortOrder).Titled("ترتیب").Sortable(true);
               columns.Add().Encoded(false).Sanitized(false).RenderValueAs(ad => @<div>
                <a href="/Admin/Model/Edit/@ad.ModelId">ویرایش</a><span>&nbsp;|&nbsp;</span>
                <a href="/Admin/Model/Details/@ad.ModelId">مشاهده</a><span>&nbsp;|&nbsp;</span>
                <a href="/Admin/Model/Delete/@ad.ModelId">حذف</a>
            </div>);
           }
        ).Sortable()

