     <!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header  navbar-right">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">TakYab</a>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links">


        <li><a href="~/User/User/ViewContent?ContentURL=ContactUS">تماس با ما</a></li>
        <li><a href="~/User/User/ViewContent?ContentURL=AboutUs">درباره ما</a></li>
        <li><a href="~/User/User/ViewContent?ContentURL=CarPrices">قیمت روز خودرو</a></li>
        <li><a href="~/User/User/ViewContent?ContentURL=TechnicalInformation">اطلاعات فنی خودرو</a></li>
        <li><a href="~/Search/Search/SearchResults">جستجوی خودرو</a></li>
        <li><a href="~/Ads/Car/Create/">فروش خودرو</a></li>
        <li><a href="/">صفحه اصلی</a></li>
    </ul>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="#"><i class="fa fa-fw fa-institution"></i> آگهی ها<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Admin/Admin/Index/"><i class="fa fa-yelp"></i> آگهی های جدید</a>
                        </li>
                        <li>
                            <a href="/Admin/Admin/Index/"><i class="fa fa-fire"></i> آگهی های صفحه اول</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-certificate"></i>1 تنظیمات<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Admin/CarStatus/Index/">صفر/کارکرده</a>
                        </li>
                        <li>
                            <a href="/Admin/Province/Index/">استان</a>
                        </li>
                        <li>
                            <a href="/Admin/Model/Index/">نوع خودرو</a>
                        </li>
                        <li>
                            <a href="/Admin/SubModel/Index/">مدل خودرو</a>
                        </li>
                        <li>
                            <a href="/Admin/BuildYear/Index/">سال تولید</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-fw fa-cogs"></i>2 تنظیمات<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Admin/PriceRange/Index/">گروه قیمت</a>
                        </li>
                        <li>
                            <a href="/Admin/Colour/Index/">رنگ</a>
                        </li>
                        <li>
                            <a href="/Admin/FuelType/Index/">نوع سوخت</a>
                        </li>
                        <li>
                            <a href="/Admin/InsuranceType/Index/">بیمه</a>
                        </li>
                        <li>
                            <a href="/Admin/AdType/Index/">نوع آگهی</a>
                        </li>
                        <li>
                            <a href="/Admin/Priority/Index/">الویت</a>
                        </li>

                        <li>
                            <a href="/Admin/ContentPage/Index/">مطلب</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>