@model IEnumerable<DataLayer.Car>
@{
    ViewBag.Title = "ListCars";
}


<div style="display:inline-block;width:100%;">

    @foreach (var item in Model)
    {
        <div style="width:30%;display:inline-block;height:400px;">
            <table>
                <tr>
                    <td colspan="2">
                        <img src="~/Content/Images/@(item.CarId)/ImageURI1/Thumbnail.jpg" />
                    </td>
                </tr>
                <tr>
                    <td>
                        @((item != null && item.SubModel != null && item.SubModel.Model != null) ? item.SubModel.Model.Name : String.Empty)
                    </td>
                    <td>
                        @((item != null && item.SubModel != null && item.SubModel.Model != null) ? item.SubModel.Name : String.Empty)
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">آگهی مورد علاقه</a>
                    </td>
                    <td>
                        <a href="#">مقایسه خودروها</a>
                    </td>
                </tr>
            </table>
        </div>

    }
</div>