/*********       Basic Elements      *********/
html {
    width: 100%;
    height: 100%;
}

.tinymce-content {
    white-space: normal;
}

body {
    direction: rtl;
    border: none;
    font-size: 16px;
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
    overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}


h2 {
    color: #FD9F00 !important;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #219ab3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


    a:hover,
    a:focus {
        text-decoration: none;
        /*color: #11505d;*/
        color: #FF9000 !important;
    }
/*********       End of Basic Elements      *********/
/*********       Page Template      *********/


#htmlOuterContainer {
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

#htmlInnerContainer {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 1300px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

header {
    display: inline-block !important;
    width: 100%;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

div#body {
    clear: both;
    padding: 0;
    min-height: 600px;
}

a:hover {
    border: none;
}


.container {
    width: 100% !important;
}

.formPanel .leftSidePanel {
    display: inline-block;
    vertical-align: top;
    min-width: 400px;
    width: 30%;
}


.formPanel .rightSidePanel {
    display: inline-block;
    vertical-align: top;
    min-width: 400px;
    width: 60%;
}

.homepageItem {
    width: 100%;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 10px 0;
}
/*********       End of Page Template      *********/


/*********       Footer      *********/
footer {
    width: 100%;
    display: inline-block;
    border-color: #d7d7d7;
}

.footerLogoList {
    text-align: center;
    padding: 20px 5px;
    margin: 20px 0 20px 0;
}

.footerItem {
    display: inline-block;
}

#footer2 {
    color: #fff;
    background-color: #5F8410;
    display: inline-block;
    width: 100%;
    padding: 20px 5px;
    color: #fff;
    min-height: 100px;
}

    #footer2 h4 {
        font-weight: 700;
    }
/*********   End of Footer   *********/


/*********       Navigation      *********/


.navbar {
    margin: 0 !important;
}

nav.navbar-takyab {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #B1DB53;
    padding: 0 !important;
    border: none;
    border-radius: 0;
    min-width: 300px !important;
}


.navbar-takyab .navbar-takyab-collapse {
    padding: 0 60px 0 0 !important;
}

.navbar-takyab .navbar-nav li {
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar-takyab .navbar-nav > li > a {
    color: #000 !important;
    padding-right: 0;
}

.navbar-nav.navbar-right:last-child {
    margin: 0 !important;
}

.navbar-takyab .navbar-nav > li > a:hover {
    color: red !important;
}

nav.navbar-takyab .container-fluid {
    height: 45px;
    padding: 0 !important;
}




.navbar-takyab a {
    color: #fff;
    font-size: 1.1em;
    font-weight: 700;
}

.navbar-takyab .nav li.active {
    outline: none;
    background-color: rgba(255,255,255,.3);
}

.navbar-takyab .nav li.active {
    outline: none;
    background-color: rgba(255,255,255,.3);
}

.navbar-takyab .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    width: 150px;
    text-align: center;
}

    .navbar-takyab .nav li a:hover,
    .navbar-takyab .nav li a:focus,
    .navbar-takyab .nav li a.active {
        outline: 0;
        color: #FF9000;
    }


#topBarNavigation li.takyab-active {
    background-color: #FF9F00;
}

#lowerBarNavigation li.takyab-active {
    background-color: #B1DB53;
}

#registerForm {
    vertical-align: top;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-takyab.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}


.takyab-header {
    display: inline-block;
    width: 100%;
    padding: 10px 60px 0 60px !important;
}

    .takyab-header .takyab-header-branding {
        width: 70%;
        display: inline-block;
        padding: 0;
        margin: 0;
        float: right;
    }

        .takyab-header .takyab-header-branding h3 {
            font-size: 32px;
        }

    .takyab-header .takyab-header-logo {
        display: inline-block;
        padding: 10px 0 0 0;
        margin: 0;
        text-align: left;
        float: left;
    }

/*********   End of Navigation   *********/



/*********       Panels      *********/
.panel-takyab {
}


    .panel-takyab .panel-heading {
        background-color: #000;
        color: #fff;
        font-weight: 700;
        font-size: 1.2em;
        border-bottom: 1px solid #fff;
    }

    .panel-takyab .panel-body {
        background-color: #C09A6B !important;
    }


.panel-takyab-transparent {
}



/*********   End of Panels   *********/


/*********       Buttons      *********/
.btn-takyab {
    background-color: #fff;
    color: #000;
    width: 230px;
    height: 40px;
}

    .btn-takyab:hover {
        color: red !important;
    }

    .btn-takyab .title {
        float: right;
    }

    .btn-takyab .caret {
        float: left;
    }


/*********   End of Buttons   *********/


/*********   Grids   *********/
.grid-header {
    text-align: center;
}

.grid-row .grid-cell {
    vertical-align: middle;
    text-align: center;
}
/*********   End of Grids   *********/




/*********   Forms   *********/


.formRow {
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
}



.editor-field select,
.display-label select,
.editor-field input,
.editor-field textarea {
    min-width: 200px;
    width: 100%;
    border: 1px solid #e2e2e2;
}

.editor-label,
.display-label {
    padding: 5px 0px 5px 20px;
    font-weight: bold;
    min-width: 100px;
    width: 30%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.editor-field {
    padding: 5px 0px 5px 0;
    display: inline-block;
    width: 60%;
}


.display-field {
    min-width: 200px;
    padding: 5px 0px 5px 0;
    width: 60%;
    display: inline-block;
}

.buttonsContainer {
    padding: 10px 0 0px 0;
}


.carDetailsTable {
}


    .carDetailsTable td {
        vertical-align: top;
        padding: 0;
    }

.carDetailsPanel .panel-body {
    border-radius: 0 0 5px 5px;
}

.panel-body .formList li {
    list-style-type: none;
}

.panel-body .formList li {
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
}

    .panel-body .formList li:last-child {
        border-bottom: none;
    }

.formPanel {
    vertical-align: top;
    width: 100%;
}
/*********  End of Forms   *********/


/*********   Search   *********/
#searchComponent {
    display: inline-block;
    padding: 0;
}

    #searchComponent .searchHeader {
        border-radius: 5px 5px 0 0;
        background-color: #000;
        line-height: 50px;
        width: 100%;
        padding: 0;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        font-weight: 700;
        font-size: 1.3em;
        color: #fff;
    }

        #searchComponent .searchHeader span {
            line-height: 50px;
            vertical-align: middle;
        }

    #searchComponent .searchTable {
        border-radius: 0 0 5px 5px;
        background-color: #D5B17D;
        padding: 0;
        display: inline-block;
        width: 100%;
    }

        #searchComponent .searchTable tr td {
            padding: 0 10px 0 10px;
            vertical-align: middle;
        }

        #searchComponent .searchTable .dropdownCell {
            vertical-align: middle;
            line-height: 55px;
        }


    #searchComponent .searchTitle {
        width: 70px;
        text-align: right;
        font-weight: bold;
        display: inline-block;
        line-height: 55px;
    }




.searchPanel {
    display: inline-block;
}

    .searchPanel .btn {
        width: 180px;
    }

        .searchPanel .btn:hover {
            color: red;
        }







.selectedButton {
    color: #000;
    background-color: #FF9000;
}



.btn-takyab {
    color: #fff;
    background-color: #000;
}

.open .btn-takyab {
    color: #000;
    background-color: #FF9000;
}


.searchPanel .btnSearch,
.searchPanel .btnReset {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
}


.searchPanel .btnSearch {
    width: 100px;
}

.searchPanel .btnReset {
    width: 80px;
}


    .searchPanel .btnSearch:hover,
    .searchPanel .btnReset:hover {
        color: red;
    }
/*********   End of Search   *********/







.dropdown-menu > li > a {
    text-align: right;
}

#carCarousel {
    vertical-align: top;
}




.carList tr th {
    direction: rtl !important;
    text-align: right !important;
}

.carList tbody tr td {
    vertical-align: middle !important;
}


div.dropdown {
    float: right;
}




.carousel-indicators li {
    background-color: #000 !important;
}

.carousel-indicators .active {
    background-color: #FF9000 !important;
}

.carousel-caption {
    background-color: #808080;
    display: inline-block;
}

/*********       Login      *********/


.login {
    display: inline-block;
    font-size: .85em;
    text-align: right;
    padding: 0 60px 0 0;
}

.login-regstration-button {
    display: inline-block;
    width: 300px;
}

#loginLink {
    border-radius: 5px 5px 0 0;
    background-color: #C39B70;
    color: #000;
    padding: 5px 25px 5px 25px;
}

/*#login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }*/

#login a.username {
    background: none;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    font-weight: bold;
}

#login ul {
    margin: 0;
}

#login li {
    display: inline;
    list-style: none;
}


/*********   End of Login   *********/

/* login page */
.loginForm {
    display: inline-block;
}

    .loginForm li {
        list-style-type: none;
    }

    .loginForm label {
        width: 100px;
        text-align: left;
        padding: 0 0 0 5px;
    }

    .loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    .loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    .loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    .loginForm input {
        width: 250px;
    }

        .loginForm input[type="checkbox"],
        .loginForm input[type="submit"],
        .loginForm input[type="button"],
        .loginForm button {
            width: auto;
        }



#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

#logoutForm {
    display: inline;
}


#loginForm .rememberMe {
    padding-right: 100px;
}


#myModal .modal-content {
    width: 840px;
    padding: 10px;
}

/* Home page */
.HomePage {
    vertical-align: top;
}

.SearchComponentCotainer {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    padding: 20px 20px 0 0;
    display: inline-block;
    z-index: 100;
}


.HomePage .leftbarCarListContainer {
    float: left;
    padding: 0 10px 0 10px;
    margin: 0;
    display: inline-block;
    height: 600px;
    background-color: #f1f1f1;
    display: inline-block;
    overflow-y: scroll;
}

    .HomePage .leftbarCarListContainer ul.LeftBarCarList {
        text-align: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        .HomePage .leftbarCarListContainer ul.LeftBarCarList li {
            list-style-type: none;
            padding: 10px 0 10px 0;
            margin: 0;
            border-bottom: 1px solid #000;
        }




.HomePage .HomePageCotnainer {
    display: inline-block;
    width: 100%;
    min-height: 500px;
    vertical-align: top;
    padding: 0;
}

#topContainer {
    position: relative;
    width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: 620px;
    margin: 0;
}


.CarRotatorContainer {
    min-width: 300px;
    width: 100%;
    height: 620px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}



.item-fade {
    vertical-align: top;
    opacity: 0.6;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

    .item-fade:hover {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -webkit-transition: opacity .5s ease-in-out;
    }



.HomePage .HomePageCotnainer .BottomPageCarListContainer {
    min-width: 300px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}


.dropdown-menu {
    min-width: 230px !important;
}



.field-validation-error {
    font-weight: 700;
    color: red;
}



.carNav {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}




.bootomPageCarList {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
}

.hideAlert {
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


.bootomPageCarList .infoCell {
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-color: #000;
    position: relative;
}


.loginAlert {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

tr.CarNew,
tr.CarNew .grid-cell {
    background-color: #cae6fb !important;
}

tr.CarApproved,
tr.CarApproved .grid-cell {
    background-color: #cafbca !important;
}

tr.Expired,
tr.Expired .grid-cell {
    background-color: #fbcaca !important;
}



/*********************SideBar*****************/

/* Sidebar Styles */

#sidebar-wrapper {
    z-index: 1000; 
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #3a7546;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper ul.nav { 
    margin: 0;
    padding: 10px;
    list-style: none;
}

 #sidebar-wrapper ul.nav .nav-header{
     font-size:1.4em;
     color: #FF9F00;
     font-weight:700;
 }
    #sidebar-wrapper ul.nav li {
        text-indent: 20px;
        line-height: 40px;
        border-bottom: 1px ridge #fff;
        padding:2px;
    }

        #sidebar-wrapper ul.nav li a {
            display: block;
            text-decoration: none;
            color: #fff !important;
             
            font-size:1.2em;
        }

            #sidebar-wrapper ul.nav li a:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255,255,255,0.2);
            }

            #sidebar-wrapper ul.nav li a:active,
            #sidebar-wrapper ul.nav li a:focus {
                text-decoration: none;
            }

    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }

        .sidebar-nav > .sidebar-brand a {
            color: #999999;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #fff;
                background: none;
            }

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

        #wrapper.toggled {
            padding-left: 0;
        }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
