@{
    ViewBag.Title = "مدیریت سیستم";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="AdminPanel">
    <h1>مدیریت سیستم</h1>
    <ul>
        <li>
            <a href="/Admin/CarStatus/Index/">صفر/کارکرده</a>
        </li>

        <li>
            <a href="/Admin/Province/Index/">استان</a>
        </li>


        <li>
            <a href="/Admin/Model/Index/">کمپانی خودرو سازی</a>
        </li>
        <li>
            <a href="/Admin/SubModel/Index/">مدل خودرو </a>
        </li>
        <li>
            <a href="/Admin/BuildYear/Index/">سال تولید</a>
        </li>

        <li>
            <a href="/Admin/PriceRange/Index/">گروه قیمت</a>
        </li>
        <li>
            <a href="/Admin/Colour/Index/">رنگ</a>
        </li>

        <li>
            <a href="/Admin/FuelType/Index/">نوع سوخت</a>
        </li>

    
        <li>
            <a href="/Admin/InsuranceType/Index/">بیمه</a>
        </li> 


        <li>
            <a href="/Admin/AdType/Index/">نوع آگهی</a>
        </li> 
        <li>
            <a href="/Admin/Priority/Index/">الویت</a>
        </li> 
    </ul>
</div>



