@using GridMvc.Html
@model IEnumerable<DataLayer.Car>

@{
    ViewBag.Title = "NewAds";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.Grid(Model).Columns(columns =>
           {
               columns.Add(foo => foo.ModelName).Titled("مدل خودرو").Sortable(true).Filterable(true);
               columns.Add(foo => foo.Price).Titled("قیمت").Sortable(true).Filterable(true);
               columns.Add(foo => foo.Province.Name).Titled("استان").Sortable(true).Filterable(true);
               columns.Add().Encoded(false).Sanitized(false).RenderValueAs(ad => @<img src="~/Content/Images/@ad.FirstImage/Thumbnail.png" />);
               columns.Add().Encoded(false).Sanitized(false).RenderValueAs(ad => @<input type="button" value="تایید" onclick="approveAd('@ad.CarId',this);" style="display:@(ad.AdStatus.Code!="New"? "none;" : "")" />);
               columns.Add().Encoded(false).Sanitized(false).RenderValueAs(ad => @<div><a href="/Ads/Car/Edit/@ad.CarId">ویرایش</a><span>&nbsp;|&nbsp;</span><a href="/Ads/Car/Details/@ad.CarId">مشاهده آگهی</a><span>&nbsp;|&nbsp;</span><a href="/Ads/Car/Delete/@ad.CarId">حذف</a></div>);
           }).SetRowCssClasses(item => { return ("Car" + item.AdStatus.Code); }).WithPaging(10).Sortable().Filterable().WithMultipleFilters()

