@model IEnumerable<DataLayer.Model>

<div class="footerLogoList">
    <div>
        @foreach (var item in Model)
        {
            <div class="footerItem">
                <a href="#">
                    <img src="~/Content/Images/@(item.ImageURI1)/Thumbnail.png" alt="@(item.Name)">
                </a>
            </div>
        }
    </div>
</div>