@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div>
    <div style="display:inline-block;width:20%;vertical-align:top;">
        @Html.Partial("AdminSideNav")
    </div>
    <div style="display:inline-block;width:70%;vertical-align:top;">
        @RenderBody()
    </div>
</div>



@RenderSection("scripts", required: false)