<div class="login">
    @if (Request.IsAuthenticated)
    {
        <text>

            <span>
                @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
            </span>



            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <span>[</span><a href="javascript:document.getElementById('logoutForm').submit()">خروج</a><span>]</span>
            }



        </text>

    }
    else
    {
        <div class="loginItem">@Html.ActionLink("ورود و ثبت نام", "LoginAndRegisterPage", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</div>
    }
</div>