<div class="login">
    @if (Request.IsAuthenticated)
    {
        <text>
    <div>
        <a href="~/Account/Manage/">@(User.Identity.Name)</a>


        @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <span>[</span><a href="javascript:document.getElementById('logoutForm').submit()">خروج</a><span>]</span>
        }
    </div>

        </text>

    }
    else
    {
        <div class="login-regstration-button">
            <a id="loginLink" data-toggle="modal" data-target="#myModal" href="~/Account/LoginRegister/">ورود و ثبت نام</a>
         
        </div>
    }
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
 
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->