@{
    ViewBag.Title = "AdminSideNav";
}

<div id="sidebar-wrapper">
    <ul class="nav nav-tabs nav-stacked">

        <li class="nav-header">آگهی ها</li>
        <li>
            <a href="/Admin/Admin/NewAds/">آگهی های جدید</a>
        </li>
        <li>
            <a href="/Admin/Admin/FirstPageAds/">آگهی های صفحه اول</a>
        </li>
        <li class="nav-header">تنظیمات</li>
        <li>
            <a href="/Admin/CarStatus/Index/">صفر/کارکرده</a>
        </li>
        <li>
            <a href="/Admin/Province/Index/">استان</a>
        </li>
        <li>
            <a href="/Admin/Model/Index/">نوع خودرو</a>
        </li>
        <li>
            <a href="/Admin/SubModel/Index/">مدل خودرو</a>
        </li>
        <li>
            <a href="/Admin/BuildYear/Index/">سال تولید</a>
        </li>
        <li>
            <a href="/Admin/PriceRange/Index/">گروه قیمت</a>
        </li>
        <li>
            <a href="/Admin/Colour/Index/">رنگ</a>
        </li>
        <li>
            <a href="/Admin/FuelType/Index/">نوع سوخت</a>
        </li>
        <li>
            <a href="/Admin/InsuranceType/Index/">بیمه</a>
        </li>
        <li>
            <a href="/Admin/AdType/Index/">نوع آگهی</a>
        </li>
        <li>
            <a href="/Admin/Priority/Index/">الویت</a>
        </li>

        <li>
            <a href="/Admin/ContentPage/Index/">مطلب</a>
        </li>
    </ul>
</div>