<div id="header">
    <div class="takyab-header">
        <div style="" class="takyab-header-branding pull-right">
            <h3>تک یاب، وب سایت اطلاع رسانی و جستجوی خودرو </h3>
        </div>
        <div class="takyab-header-logo">
            <a href="~/" title="صفحه اصلی">
                <img src="~/Images/TakYabLogo.png" alt="صفحه اصلی" height="45" />
            </a>
        </div>
    </div>
    @Html.Partial("_LoginPartial")
    <nav class="navbar navbar-takyab navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header pull-right">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collpse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-takyab-collapse" id="bs-example-navbar-collapse-1" style="">
                <ul id="topBarNavigation" class="nav navbar-nav navbar-right" style="padding:0 !important;">  
                 
                    <li><a href="~/User/User/ViewContent?ContentURL=ContactUS">تماس با ما</a></li>
                    <li><a href="~/User/User/ViewContent?ContentURL=AboutUs">درباره ما</a></li>
                    <li><a href="~/User/User/ViewContent?ContentURL=CarPrices">قیمت روز خودرو</a></li>
                    <li><a href="~/User/User/ViewContent?ContentURL=TechnicalInformation">اطلاعات فنی خودرو</a></li>
                    <li id="Nav-Search-SearchResults"><a href="~/Search/Search/SearchResults">جستجوی خودرو</a></li>
                    <li id="Nav-Car-Create"><a href="~/Ads/Car/Create/">فروش خودرو</a></li>
                    <li id="Nav-Home-Index"><a href="/">صفحه اصلی</a></li>

                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var controller = '@(ViewContext.RouteData.Values["controller"])';
        var action = '@(ViewContext.RouteData.Values["action"])';
        $("#topBarNavigation #Nav-" + controller + "-" + action).addClass("takyab-active");
    });

</script>